@keyframes gradientAnimation {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.header {
  -webkit-animation: gradientAnimation 15s ease infinite;
  animation: gradientAnimation 15s ease infinite;
  /* background: linear-gradient(90deg, #614487, #5C4E8B 0, #545F95); */
  /* background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); */
  background-color: #F1f2f2;
  color: white;
  height: 7rem;
}

.logo {
  width: 100%;
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  
}

.logo h2 {
  font-weight: 500;
  color: #27374d;
}
.logo button {
    text-align: center;
    background-color: #1995AD;
    border: none;
    color: #F1F1F2;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    width: 100px;
    margin-top: 0.1rem;
    height: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.form form {
  background-color: #A1D6E2;
  width: 90%;
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.form form input {
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0.3rem;
  border-bottom: 1px solid #9db2bf;
  padding: 5px 0px;
  outline: none;
  background-color: #dde6ed;
  color: #27374d;
  padding-left: 3rem;
}

.form form button {
  background-color: #1995AD;
  border: none;
  color: #F1F1F2;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  width: 150px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.form form button:active {
  transform: scale(1.02);
}

.main-container {
  background-color: #A1D6E2;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.98rem;
  width: 90%;
  height: calc(85vh - 7rem);
  text-align: center;
}

.items {
  background-color: #A1D6E2;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  border-radius: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.items::-webkit-scrollbar {
  display: none;
}

.items h3 {
  margin: 1rem;
  font-weight: 400;
  text-align: center;
}

.items table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  height: 100%;
}

td,
th {
  text-align: center;
  padding: 1rem;
}

th {
  background-color: #dde6ed;
  position: sticky;
  top: 0;
  z-index: 1;
}

td:nth-child(2) {
  width: 100%;
  word-break: break-all;
}

td:nth-child(1) input {
  width: 80%;
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px solid grey;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
